<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">

  <title>{{ .Site.Data.settings.name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/main.css" /> {{ .Site.Data.settings.faviconMetaTags | safeHTML }} {{ if isset .Params "seometatags" }} {{ .Params.seometatags | safeHTML }} {{ else }} {{ end }}

</head>

<body class="{{ .Kind }} {{ .Section }}">

  <header class="main-header">
    <div class="main-header-container">
      <div class="logo">
        <a href="/">Shine My Crown</a>
      </div>
      <div class="nav-toggle" id="menu-toggle">
        <button class="hamburger hamburger--collapse" type="button" id="hamburger-toggle">
          <span class="hamburger-box">
          <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </header>

  <div class="nav-overlay" id="nav-overlay">
      {{ partial "navigation.html" . }}
  </div>


  <main id="main">
