@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/AvenirNextLTW01RegularRegular.eot'),
		url('/fonts/AvenirNextLTW01RegularRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/AvenirNextLTW01RegularRegular.woff2') format('woff2'),
		url('/fonts/AvenirNextLTW01RegularRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/AvenirNextLTW01BoldRegular.eot'),
		url('/fonts/AvenirNextLTW01BoldRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/AvenirNextLTW01BoldRegular.woff2') format('woff2'),
		url('/fonts/AvenirNextLTW01BoldRegular.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
