@import "reset";
@import "variables";
@import "typography";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

.container {
    display: flex;
    margin: 0 auto;
}

#nav-toggle {
    span {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';

        &:after,
        &:before {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: white;
            position: absolute;
            display: block;
            content: '';
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }
    }
}
