{{ partial "header.html" . }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

<div class="showcase" {{ if .Paginator.HasNext }}data-next-url="{{ .Paginator.Next.URL }}"{{ end }}>
  {{ range $paginator.Pages }}

          <img src="{{ .Params.cover }}" alt="{{.Params.Title}}">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <p>{{ .Params.summary }}</p>
          <ul id="tags">

  {{ range .Params.categories }}
    <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
</ul>

  {{ end }}
</div>

{{ partial "footer.html" . }}
