{{ partial "header.html" . }}

<div class="home-articles">


{{ $paginator := .Paginate ( where (where .Data.Pages "Type" "post" ) ".Params.published" "true" ) }}
{{ template "_internal/pagination.html" . }}

<!-- <div class="showcase" {{ if .Paginator.HasNext }}data-next-url="{{ .Paginator.Next.URL }}" {{ end }}> -->


  {{ range $index, $element := $paginator.Pages }}
  <article class="featured-article {{ if $index }} first {{ end }}">
    <img class="cover" src="{{ .Params.cover }}" alt="{{.Params.Title}}">
    <a href="{{ .Permalink }}">

    <div class="meta">
      <h3 class="article-title">{{ .Title }}</h3>
    </div>
    </a>


    <!-- <ul id="tags">
      {{ range .Params.categories }}
      <li><a href="{{ " /categories/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{ " /tags/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{  end }}
    </ul> -->
  </article>

  {{ end }}
<!-- </div> -->
</div>

{{ partial "footer.html" . }}
